#main {
  height: 900px;
  width: 800px;
  border: 2px solid black;
}
h1 {
  text-align: center;
}
h4 {
  text-align: center;
}
#index {
  height: 650px;
  width: 650px;
  border: 2px solid black;
  margin: auto;
  padding-left: 40px;
  padding-top: 10px;
}
#controls {
  text-align: center;
}
a {
  color: black;
  text-decoration: none;
}
