.title {
  font-size: 40px;
  text-align: center;
  background: rgb(255,178,14);
  background: linear-gradient(90deg, rgba(255,178,14,1) 0%, rgba(255,255,255,1) 100%, rgba(2,0,36,1) 100%);
}

.top {
  background-color: #b36b00;
  text-align: center;
  border-radius: 50px;
  width: 80%;
  margin: auto;

  .item {
    display: inline-block;
    background-color: #ff9900;
    margin-left: 40px;
    &:hover {
      background-color: #cc99ff;
    }
  }
}

.container {
  background-color: #e68a00;

  .bargraph {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 5px;
    padding: 5% 30% 0 30%;
    background-color: #ffb84d;
    align-items: flex-end;
    > div {
      width: 70px;
      background-color: black;
    }
    .bar1 {
      height: 170px;
    }
    .bar2 {
      height: 200px;
    }
    .bar3 {
      height: 150px;
    }
    .bar4 {
      height: 100px;
    }
  }

  .sidebar {
    float: right;
    margin-right: 15%;
    .item1 {
      .subItem {
        visibility: hidden;
        display: none;
      }
    }
    .item1:hover {
      font-weight: bold;
      .subItem {
        visibility: visible;
        font-weight: bold;
        display: block;
        margin-left: 50%;
      }
    }
    .item2 {
      .subItem {
        visibility: hidden;
        display: none;
      }
    }
    .item2:hover {
      font-weight: bold;
      .subItem {
        visibility: visible;
        font-weight: bold;
        display: block;
        margin-left: 50%;
      }
    }
    .item3 {
      .subItem {
        visibility: hidden;
        display: none;
      }
    }
    .item3:hover {
      font-weight: bold;
      .subItem {
        visibility: visible;
        font-weight: bold;
        display: block;
        margin-left: 50%;
      }
    }
  }

  .flexbottom {
    display: flex;
    flex-wrap: wrap;
    background-color: #ffd699;
    h2 {
      width: 100%;
    }
    .mon {
      width: 100px;
      margin: 10px;
      padding: 10px;
      border-radius: 20px;
      border: 1px solid black;
      background: rgb(255,178,14);
      background: linear-gradient(90deg, rgba(255,178,14,1) 0%, rgba(255,255,255,1) 100%, rgba(2,0,36,1) 100%);
      div:first-child {
        font-weight: bold;
      }
    }
  }
}

@sizes: {
  mobile: 320px;
  tablet: 768px;
  desktop: 1024px;
}

@media (max-width: @sizes[tablet]) {
  .top {
    text-align: left;
    border-radius: 0px;
    width: 100%;
    .item {
      display: block;
      margin-left: 0px;
    }
  }

  .container {
    .bargraph {
      grid-template-columns: auto;
      grid-template-rows: auto, auto, auto, auto;
      grid-gap: 30px;
      padding: 10% 5% 10% 0;
      .bar1 {
        height: 10px;
        width: 170px;
      }
      .bar2 {
        height: 10px;
        width: 200px;
      }
      .bar3 {
        height: 10px;
        width: 150px;
      }
      .bar4 {
        height: 10px;
        width: 100px;
      }
    }

    .sidebar {
      display: none;
    }

    .flexbottom {
      flex-direction: column;
      .mon {
        width: 97%;
        margin: 0px;
      }
    }
  }
}
